{% extends 'TestPollBundle::layout.html.twig' %}

{% block title %}{{ test.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/test.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <article class="test">
        <header>
            <div class="date"><time datetime="{{ test.created|date('c') }}">{{ test.created|date('l, F j, Y') }}</time></div>
            <h2>{{ test.title }}</h2>
        </header>
        <div>
            <p>test app here</p>
        </div>
    </article>
        {% block questions %}  
            {% for question in questions %}
    <article class="question {{ cycle(['odd', 'even'], loop.index0) }}" id="question-{{ question.id }}">
        <header>
            <p><span class="highlight">{{ question.title }}</span> </p>
                     
        </header>
        
    </article>
{% else %}
    <p>There are no questions found for this test.</p>
{% endfor %}

{% endblock %}

{% block answers %}
{% for answer in answers %}
    
    
    
            <p><span class="highlight">{{ answer.title }}</span> </p>
            <p>{{ answer.id }}</p>
            <p>{{ answer.question_id }}</p> 
               
         
                
{% else %}
    <p>There are no answers found for this test.</p>
{% endfor %} 
          {% endblock %}  
       
<div>
    <p><a href="{{path('logout')}}">Logout</a></p>
</div>
{% endblock %}

