
{{form(form)}}


{#    {{ form_start(form) }}
    {{ form_errors(form) }}
        {{ form_row(form.testId) }}
        <ul>
        {% for q in form.userAnswers %}
            <li>{{ form_row(q.answerOptionId) }}</li>
             {% endfor %}

        </ul>
    
{{ form_end(form) }}#}


